h3 {
    float: left;
    width: 200px;
    color: black;
    padding-right: 24px;
    padding-left: 100px;
    font-weight: bold;
}

.contact-prompt {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 800px;
    overflow: hidden;
}

form input {
    float: left;
    width: calc(100% - 200px);
    padding: 5px;
    margin: 5px;
    margin-left: 100px;
    margin-bottom: 20px;
}

form textarea {
    float: left;
    width: calc(100% - 200px);
    padding: 5px;
    margin: 5px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.submit-button {
    width: 250px;
    position: relative;
    margin-top: -43px;
    margin-left: 350px;
    border: solid gray;
    padding: 10px;
    font-weight: 650;
    color: black;
    background-color: rgba(0, 0, 0, 0.404);
    justify-content: center;
}